<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">💾 Database Compare 1.0</h3>

  <div class="uk-grid-small" uk-grid>

    <div class="uk-width-1-2@s">
      <div class="uk-margin">
        <label class="uk-form-label">Database:</label>
        <select class="uk-select" [(ngModel)]="databaseType">
          <option [value]="0" selected>MySql</option>
          <option [value]="1">Sql Server</option>
          <option [value]="2">Oracle</option>
          <option [value]="3">Mongo</option>
          <option [value]="4">MariaDb</option>
        </select>
      </div>
    </div>

    <div class="uk-width-1-2@s">
      <label class="uk-form-label">Number of comparisons:</label>
      <input class="uk-input" type="number" placeholder="0" [(ngModel)]="totalComparisons" (focusout)="generateForm()">
    </div>

    <div *ngFor="let item of connectionList; let i = index">
      <div>Comparison {{ i + 1 }}</div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label">Username:</label>
          <input class="uk-input" type="text" placeholder="Username" [(ngModel)]="item.Username">
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label">Password:</label>
          <input class="uk-input" type="password" placeholder="Password" [(ngModel)]="item.Password">
        </div>

        <div class="uk-width-1-3@s">
          <label class="uk-form-label">Database:</label>
          <input class="uk-input" type="text" placeholder="Database" [(ngModel)]="item.Database">
        </div>

        <div class="uk-width-1-3@s">
          <label class="uk-form-label">Hostname:</label>
          <input class="uk-input" type="text" placeholder="Hostname, ex: 127.0.0.1" [(ngModel)]="item.Hostname">
        </div>

        <div class="uk-width-1-3@s">
          <label class="uk-form-label">Port:</label>
          <input class="uk-input" type="number" placeholder="Port, ex: 3306" [(ngModel)]="item.Port">
        </div>
      </div>
      <hr />
    </div>

    <div class="uk-width-1-1@s">
      <button [disabled]="!totalComparisons" class="uk-button uk-button-primary" (click)="execute()">Compare</button>
    </div>

  </div>

</div>